body{
  font-family: Arial, sans-serif;
  padding:30px;
}

section{
  margin-bottom:40px;
}

button{
  padding:10px 15px;
  border:none;
  background:#3498db;
  color:white;
  cursor:pointer;
}

.activo{
  background:#e74c3c;
  /* nuevo color asignado al click */
}

#info{
  margin-top:10px;
  display:none; /* oculta el contenido */
}

input{
  display:block;
  margin:10px 0;
  padding:8px;
}

#mensaje{
  color:red;
  font-weight:bold;
}