.contenedor {
  display: flex;
  background: lightblue;
  height: 200px;
  gap: 10px;

  flex-direction: column-reverse; /* cambia aqui las opciones */
}

.item {
  width: 70px;
  height: 70px;
  background: steelblue;
  color: white;
  font-size: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* flex-direction: row; /* horizontal */ 
/* flex-direction: row-reverse; /* horizontal invertido */ 
/* flex-direction: column; /* vertical */ 
/* flex-direction: column-reverse; /* vertical invertido */